<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "CafeTown Automation suite">
<parameter name = "appURL" value="http://cafetownsend-angular-rails.herokuapp.com/login" />
<parameter name = "browserType" value="CH" />
	<test name ="Functional Test">
		<classes>
		    <class name = "com.leap.cafetown.tests.LoginTest"/>
			<class name = "com.leap.cafetown.tests.HomeTest"/>
			<class name = "com.leap.cafetown.tests.CreateNewEmployeeTest"/>
			<class name = "com.leap.cafetown.tests.EditEmployeeTest"/>

		</classes>
	</test>
</suite>
       